
/* Common */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{
    font-family: 'Montserrat', sans-serif;
scroll-behavior: smooth;}

body{
    height: 100vh;
    width: 100vw;
}

.big-container{
    height: calc(100% - 70px);
}

.mid-container{
    flex-direction: column;
    width: calc(100% - 50px);
    background-color: #151921 ;
    overflow-y: scroll;
    padding-top: 70px;
}
/* Fine common */





/* Inizio header  */
.header{
height: 70px;
position: fixed;
top: 0;
right: 0;
width: calc(100% - 50px);
justify-content: flex-end;
align-items: center;
padding-right: 10px;
background-color: #090B12;
}

.header-btn{
    border: solid 2px #fff;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 8px;
    padding: 0 15px;
    height: 34%;
    font-weight: 900;
    
}
/* fine header  */

/* inizio main  */
main{
height: calc(100% - 70px);
width: 100%;
flex-direction: column;
}

.nav-main{
    height: 200px;
    width: 100%;
    font-weight: 600;
    color: #B3B3B3;
    background-color: #151921;
    line-height: 30px;
}

.nav-main span{
    color: #B3B3B3;
    font-size: 10px;
    position: relative;
}

.sottolinea{
    height: 1px;
    width: 50%;
    border: 2px solid #151921;
    position: absolute;
    left: 25%;
    bottom: 7%;
    border-radius: 5px;
}

.active{
    height: 1px;
    width: 50%;
    border: 2px solid #C2FA5D;
    position: absolute;
    left: 25%;
    bottom: 7%;
    border-radius: 5px;
}


.nav-item{
    white-space: nowrap;
    cursor: pointer;
}

.main-content{
    width: 100%;
    justify-content: center;
    background-color: #151921 ;

}

.main-content-item{
    width: calc(100% / 2);
    justify-content: flex-start;
    background-color: #151921;
    padding: 5px;
}



.img-box{
justify-content: flex-start;
width: 100%;
}

.text-box h3{
    font-size: 12px;
}

h4{
    font-size: 8px;
    white-space: nowrap;
    padding-top: 10px;
    color: #5B5E62;
}
/* .text-box{
    width: 20vh;
} */

/* fine main  */

/* Inizio aside  */


aside{
width: 50px;
height: 100%;
justify-content: space-between;
}

.aside-mid.flex.flex-column, .playlist, .crea-play, .playlists{
    display: none;
}


.aside-top-item, .aside-bottom-item{
    width: 30px;
}
.aside-top, .aside-bottom{
    align-items: center;
}

.aside-text{
    display: none;
}

#download{
    width: 18px;
}

#account img{
background-color: #929292
;
border-radius: 50%;
padding: 2px 4px;
transform: scale(1.1);
}

#account {
padding: 0 4px;
margin-bottom: 10px;
transform: scale(0.8);
}

.white.hr{
    display: none;
}

.john{
    display: none;
}

#logo-big{
    display: none;
}
.installa{
    display: none;
}
/* fine aside  */


/* Inizio footer  */

footer{
height: 70px;
position: fixed;
bottom: 0;
width: 100%;
background-color: #313131;
z-index: 999999999999;
}

.footer-mid{
    justify-content: space-evenly;
    flex-basis: 70%;
}

.footer-sx, .footer-dx{
    
}

.footer-dx.footer-element{
    display: none;

}

.music-player{
    justify-content: center;
}
.music-player i{
    padding: 0 5px;
}

.barra-container{
    flex-basis:60%;
    justify-self: center;
    height: 0px;
    align-self: center;
}

.barra-1{
    height: 0px;
    align-self: center;
    border: 2px solid #C1C1C1;
    border-radius: 5px;
}

.barra-2{
    height: 0px;
    align-self: center;
    border: 2px solid #666464;
    border-radius: 5px;

}

.time{
    font-size: 8px;
    width: min-content;
    font-weight: 500;
}

.brano-img{
    height: 35px;
    width: 35px;
    margin: 0 15px;
    min-width: 20px;
}

.brano-icon{
margin-left: 20px;
justify-content: space-between;
height: 35px;
}

.brano-icon.brano-item{
    display: none;
}

.brano-text h4{
    padding-top: 0;
}
/* Media queries */

@media screen and (min-width: 577px) {
    
    .footer-dx.footer-element{
        display: flex;
        flex-basis: 30%;
    
    }

    .brano-icon.brano-item{
        display: flex;
        flex-direction: column;
    }
    
    aside{
        width: 200px;
        height: 100%;
        z-index: 999999999999999;
        justify-content: space-between;
        padding-top: 10px;
        }
        
        .aside-top-item{
            display: flex;
            align-items: flex-end;
            transform: scale(0.8);
        }

        .aside-text{
            display: block;
        }

        .aside-top, .aside-bottom{
            align-items: flex-start;
        }

        .aside-bottom{
            padding-top: 80px;
        }

        .mid-aside-text{
            padding: 5px 0;
        }
        
        .aside-mid.flex.flex-column, .playlist, .crea-play{
            display: flex
        }
        
        .playlists{
            display: block;
        }
        

        .aside-mid{
            padding: 5px 0;
            overflow-y: scroll;
            padding-left: 5px;
        }

        .aside-mid-item{
            font-size: 10px;
            color: #B3B3B3;
            font-weight: 900;

        }
        

        .playlist{
            font-weight: 900;
            padding-left: 5px;
        }

        .crea-play{
            font-weight: 900;
            font-size: 12px;
        }

        .fa-plus-square{
            padding-right: 5px;
            font-size: 25px;
        }

        #download{
            width: 18px;
        }
        
        #account{
        background-color: #929292
        ;
        border-radius: 50%;
        
        
        margin-bottom: 5px;
        align-items: center;
        transform: scale(0.8);

        }

        #account img{
            padding: 0;
        }

        .john{
            white-space: nowrap;
            font-size: 12px;
            font-weight: 900;
            padding-left: 10px;
            display: block;
        }
        
        #logo {display: none;
            
        }

        #logo-big{
            display: flex;
            width: 100%;
        }

        .first-item{
            width: 100%;
            padding-right: 10px;
            transform: scale(1);
        }

        .installa{
            display: flex;
            white-space: nowrap;
            padding-left: 5px;
            font-size: 11px;
        }

        #download{
            display: flex;
            align-items: center;
        }

        .hr.white{
            width: 90%;
            margin-bottom: 10px;
            display: block;
            
        }
        .aside-top{
            align-items: flex-start;
        }

        .flex.nav-main.wrap{
            justify-content: space-around;
        }
    

        
}

@media screen and (min-width: 769px) {

    .main-content-item{
      width: calc(100% / 4 );
    }
    
    .main-content{
    justify-content: flex-start;  
    }
      
    .brano-icon.brano-item{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .brano-icon.brano-item .fa-heart{
        margin-right: 10px;
    }

  
}
